<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.test"
    version="1.0.1">
  <engines>
    <engine name="cordova" version=">=2.4.0" />
  </engines>

  <name>Junk Plugin</name>

  <asset src="foo.html" target="foo.html" />
</plugin>
